.Wrapper {
    width: 100%;
    margin: 0;

}

.Container {
    

    width: 100%;
   position: absolute;
   display: grid;
  
    margin-top: 80px;
    
    grid-template-columns: [col1] 33% [col2] 67% ;

    grid-gap: 10px;

    grid-template-rows: [row1] 30%  ;
  
    
    
}


.header{
    width: 100%;
    margin-left: 100px;
    line-height: 25px;
}





.TabelNominal{
    
    background-image: url(../../assets/topup.png) ;
    width: 670px;
    height: 40px;
   
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 100px;
    background-size: 12px;
    background-position: 11px 12px; 
    background-repeat: no-repeat;
     padding: 12px 20px 12px 40px;
}

.NilaiNominal {
   
    display: grid;
    grid-template-columns: repeat(3,2fr);
    position: relative;
    width: 40%;
    margin-left: 350px;
    gap: 35px 0px;
    margin-bottom: 40px;

}

button {
   
    width: 100px;
    height: 40px;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    color:rgb(98, 98, 98);
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    background-color: #fff;
}

.NilaiNominal button:active {
    background-color: #a5a7a5;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}

.NilaiNominal button:hover {
    background-color: #eceeec
}

.Grid2 {
    margin-top: -20px;
}

.BtnSubmit {
    
    gap: 20px;
    width: 670px;
    margin-left: 100px;
    height: 40px;
    border-width: 0;
    color: #fff;
    border-radius: 3px;
    background-color: rgb(177, 174, 174);
    cursor: pointer;
    margin-bottom: 100px;
}


.BtnSubmit:active {
    background-color: #a5a7a5;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}
.BtnSubmit:hover {
    background-color: #929392
}

@media screen and (max-width:1300px) {

    .Container{
        display: block;
    }
    
    .NilaiNominal  {
    display: flex;
    grid-template-columns: repeat(1,6fr);
    gap: 30px;
    margin-left: 100px;
    width: 85%;
    margin-top: 20px;
    }
   
    button {
       
        width: 230px;

    }
    
}
@media screen and (max-width:860px) {
    

    .TabelNominal {
        width: 500px;
    }
    .BtnSubmit {
        width: 500px;
    }
    .Grid2 {
        display: block;
        
    }
    .NilaiNominal  {
        
        display: grid;
        grid-template-columns: repeat(2,3fr);
        gap:20px;
        margin-left: 100px;
        width: 70%;
        
        }
        Button {
            width: 200px;
    
        }
}

@media screen and (max-width:650px) {
    

    .TabelNominal {
        width: 400px;
    }
    .BtnSubmit {
        width: 400px;
    }
    .NilaiNominal  {
        display: grid;
        grid-template-columns: repeat(2,3fr);
        gap: 30px;
        margin-left: 100px;
        width: 50%;
        background-color: red;
        
        }
        Button {
            width: 185px;
    
        }
}

@media screen and (max-width:478px) {
    

    .TabelNominal {
        width: 250px;
    }
    .BtnSubmit {
        width: 250px;
    }
    .NilaiNominal  {
        display: grid;
        grid-template-columns: repeat(2,3fr);
        gap: 25px;
        margin-left: 100px;
        width: 50%;
      
        
        }
        Button {
            width: 120px;
    
        }
}
